.circle {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
    position: fixed;
    bottom: -100px; /* Başlangıçta görünmeyecek kadar aşağıda */
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.5s ease, opacity 0.5s ease; /* Animasyonlu özellikler */
  }
  